/* -----------Main opening page------------ */
* {
    box-sizing: border-box;
    padding: 0;
    margin:0;

} 

body {
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #102a50 0%, #002b90 100%);
    background-size:400% 400%;
    animation: gradient 50s ease infinite;
        }
          
    @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }

/*---------------------------------------------------------------------------*/

main {
    margin: 0px auto;
    width: 100%;
   padding: 0px 150px;
}



section {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    min-height: 70vh;
    padding: 0px


}

.name-intro {
    margin: 0px 0px 30px 4px;
    color:#5291B7;
    font-family: 'Press Start 2P';
    font-size: 8px
}

.name1 {
    color:rgb(209, 209, 209);
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    margin: 0px;
    font-size: 50px
}

.name-disc {
    color: #37827e;
    font-family: 'Roboto' , sans-serif;
    font-size: 40px;
    margin-top: 10px;
    line-height: 0.9;
}


p {
    color:#c5c6c8;
    font-family: Arial;
    font-weight: 700;
    margin: 20px 0px 0px;
    max-width: 540px;
    line-height: 1.6em;
}





/*------------------------------------Nav bar----------------------------------------*/

li, a, button {
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 16px;
color: aliceblue;
text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 50px;
    height: 95px;
    width: auto;
}

.logo {
    width: 120px;
    position: relative;
    cursor:pointer;
    margin-right: auto;
    padding: 0;

}

.nav-links {
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}


.nav-links li a:hover {
    color:rgb(124, 124, 124);

}

button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color:steelblue;
    border-radius: 10px;

}

button:hover {
    background-color: transparent;
    color:white;
    transition: all .3s ease-out;
    border: 1px solid  #5291B7;
}